<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon.ico" />
  <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon.ico" />
  <link rel="stylesheet" href="../../assets/css/lib/bootstrap-datepicker.standalone.css" />
  <link rel="stylesheet" href="../../assets/css/lib-style.css" />
  <link rel="stylesheet" href="../../assets/css/iframe-layout.css" />
  <link rel="stylesheet" href="../../assets/css/mobile-style.css" />
  <script src="../../assets/js/lib/jquery-3.6.0.min.js"></script>
  <script>
    // bootstrap-datepicker.js에서 사용하는 메시지 변수 정의 (bootstrap-datepicker.js보다 먼저 실행되어야 함)
    if (typeof cldMsg_prevMonth === 'undefined') {
      window.cldMsg_prevMonth = '이전달';
      window.cldMsg_nextMonth = '다음달';
      window.cldMsg_prevYear = '이전년';
      window.cldMsg_nextYear = '다음년';
      window.cldMsg_prev = '이전';
      window.cldMsg_next = '다음';
    }
  </script>
  <script src="../../assets/js/lib/bootstrap-datepicker.js"></script>
  <script src="../../assets/js/lib/swiper-bundle.min.js"></script>
  
  <script src="../../assets/js/datepicker.js"></script>
  <script src="../../assets/js/dropdown.js"></script>
  <script src="../../assets/js/file.js"></script>
  <script src="../../assets/js/input.js"></script>
  <script src="../../assets/js/modal.js"></script>
  <script src="../../assets/js/multiDropdown.js"></script>
  <script src="../../assets/js/rangeTimePicker.js"></script>
  <script src="../../assets/js/routeAccordion.js"></script>
  <script src="../../assets/js/tab.js"></script>
  <script src="../../assets/js/timePicker.js"></script>
  <title>Guide | datepicker</title>
  <style>
    .input-wrap {
      width: 190px;
      max-width: 190px;
      flex: none;
    }
  </style>
</head>

<body style="overflow:hidden; margin:0;">
    <div class="general-container">
      <div class="general-area">
        <div class="general-top">
          <div class="general-label">Component</div>
          <div class="general-title">Datepicker</div>
        </div>
        <div class="general-middle">
          <div class="component-block">
            <div class="component-preview">
              <!-- 2/2 update -->
              <div class="input-wrap date">
                <input type="text" class="input-datepicker" id="time" name="time" placeholder="날짜를 선택하세요" value="" data-value="datepicker" readonly aria-label="날짜 선택 (YYYY.MM.DD)" />
                <i class="icon icon-calendar"></i>
              </div>
              <div class="modal-datepicker" id="datepicker">
                <div class="dim"></div>
                <div class="datepicker-picker">
                  <div class="datepicker-header">
                    <div class="datepicker-title-box">
                      <span class="title">날짜 선택</span>
                    </div>
                    <button type="button" class="close-button">닫기</button>
                  </div>
                  <div class="datepicker-body">
                    <div class="datepicker-box"></div>
                  </div>
                  <div class="datepicker-footer">
                    <div class="datepicker-controls">
                      <button type="button" class="btn btn-white cancel-button">
                        <span>취소</span>
                      </button>
                      <button type="button" class="btn btn-blue confirm-button">
                        <span>확인</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script>document.addEventListener("wheel",function(e){window.parent.postMessage({type:"iframeWheel",deltaY:e.deltaY,deltaX:e.deltaX},"*");},{passive:true});function _sh(){var h=Math.max(document.body.scrollHeight,document.body.offsetHeight,document.documentElement.scrollHeight,document.documentElement.offsetHeight);window.parent.postMessage({type:"iframeHeight",height:h},"*");}window.addEventListener("load",_sh);if(window.ResizeObserver){new ResizeObserver(_sh).observe(document.body);}</script>
</body>

</html>
