@charset "utf-8";
@import url("layout.css");
@import url("gnb.css");
@import url("mobile-style.css");
@import url("realtime.css");
@import url("login.css");

/* Common */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font:12px "돋움",Dotum,"굴림",Gulim,Arial,AppleGothic,sans-serif;
	vertical-align:baseline;
}
img {vertical-align:middle;}
i {font-style:normal}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body {line-height:1;font-size:0.75em;}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('/uvism/images/common/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

ol, ul {list-style:none;}

table {table-layout:fixed;border-collapse:collapse;border-spacing:0;font-size:1em;}
table th, table td {vertical-align:middle}
caption,
legend  {height:0; visibility:hidden; opacity:0; font-size:0; line-height:0}
strong, h1, h2, h3, h4, h5, h6 {font-weight:bold}
/* input */
select {padding:1px;}
input {font-family:"돋움",Dotum,"굴림",Gulim,Arial,AppleGothic,sans-serif; font-size:1em; color:#4b4b4b; margin:0; padding:0}
input, select, textarea {font-family:"돋움",Dotum,"굴림",Gulim,Arial,AppleGothic,sans-serif; font-size:1em; color:#4b4b4b; margin:0}
textarea {border:1px solid #abadb3; padding:5px; line-height:1.5em; resize:none;}

/* basic input text */
input.radio, input.checkbox, .input_radio, .input_checkbox {width:13px; height:13px; display:inline-block;  border:0 none !important}

/* anchor */
a {color:#333;text-decoration:none; font-size:1em}
a {outline:none}
a:hover, a:active {color:#333;text-decoration:none}
.pointer {cursor:pointer}
.clear{clear:both;margin:0;padding:0;}
/* layerpop */
.dimm_layer {position:absolute;z-index:1000;left:0;top:0;width:100%;height:100%;background:black;opacity:0.8;filter:alpha(opacity=80);}
.popup_layer_container{position:absolute;left:0;top:0;width:100%;height:100%;z-index:1001;}
.popup_layer_wrapper {margin:0 auto;}
.popup_layer_container .inner {overflow:auto;}
.popup_layer_container .inner2 {overflow:auto;}
.popup_basic {background:white;}
.clear {clear:both;}

/* 기본 텍스트 컬러 */
.font_color01 {color:#1bb1fb !important;}	/*블루*/
.font_color02 {color:red !important;}		/*레드*/
.font_color03 {color:#B0B0B0 !important}	/*회색*/

/* 테이블 기본 사이즈 */
/* table text가 노멀 사이즈 */
input {height:18px; border:1px solid #cbcbcb}
input.short01 {width:22px;}
input.short02 {width:42px;}
input.short03 {width:70px;}
input.file {height:22px;border:1px solid #cbcbcb; margin:1px 2px 0 0; vertical-align:middle}
select {height:20px;}
table .text {width:102px; border:1px solid #cbcbcb; background-color:#fff;}
table .short01 {width:22px;}
table .short02 {width:42px;}
table .short03 {width:70px;}
table .long {width:99%;}
table .half {width:50%;}
/* 셀렉트 사이즈 */
table .select {width:104px; border:1px solid #cbcbcb; background-color:#fff; vertical-align:middle}
table select.short02 {width:62px;}
table select.long {width:148px !important;}
/* 위아래 인풋 간격 */
/*table .top {margin-bottom:4px;}*/

/* 버튼일반 */
/* Button Reset */
.button,
.button a,
.button button,
.button input {position:relative; margin:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; font-size:10px; font-family:"돋움",Dotum,"굴림", Gulim,Tahoma, Sans-serif; white-space:nowrap; overflow:visible; color:#333;}
.button {height:27px; padding:0; vertical-align:middle; margin-right:2px; background-position:left -29px; cursor:pointer}
.button a,
.button button,
.button input{left:2px; vertical-align:top; cursor:pointer;}

/* Button Size */  
.button.large {height:29px; background-position:left -30px; }
.button.xLarge {height:35px; background-position:left -65px; }
.button.small {height:20px; background-position:left 0px; }
span.button {padding-left:0px !important}
.button a,
.button button,
.button input {height:27px; padding:0 10px 0 8px; font-size:12px; line-height:27px; background-position:right -29px;}
.button.large a,
.button.large button,
.button.large input {height:30px; padding:0 10px 0 8px; font-size:16px; line-height:29px; background-position:right -30px;}
.button.xLarge a,
.button.xLarge button,
.button.xLarge input {height:35px; padding:0 10px 0 8px; font-size:20px; line-height:35px; background-position:right -65px;}

.button.small button,
.button.small input {height:20px; padding:0 6px 0 4px; font-size:11px; line-height:19px; background-position:right 0px;}
.button.small a {height:20px; padding:0 6px 0 4px; font-size:11px; line-height:22px; background-position:right 0px;}

.btn_black_small {height:20px; padding:0 5px 0 5px; color:#fff; border:1px solid #292929; font-size:11px; background-color:#353535;}
.btn_black_normal {height:27px; padding:0 9px 0 9px; color:#fff; border:1px solid #292929; font-size:12px; background-color:#353535;}
.strong_font {font-weight:bold}
.btn_grey_small {height:20px; padding:0 5px 0 5px; color:#fff; border:1px solid #909090; font-size:11px; background-color:#a0a0a0;}
.btn_blue_small {height:20px; padding:0 5px 0 5px; color:#fff; border:1px solid #1589c1; font-size:11px; background-color:#29a2dc;}
/* 버튼 색 */
.button.blue, 
.button.blue a,
.button.blue button,
.button.blue input {background-image:url(/uvism/images/common/buttonBlue.gif); color:#fff;}
.button.blue *:hover,
.button.blue *:active,
.button.blue *:focus{color:#fff;}
.button.grey,
.button.grey a,
.button.grey button,
.button.grey input {background-image:url(/uvism/images/common/buttonGrey.gif); color:#fff;}
.button.grey *:hover,
.button.grey *:active,
.button.grey *:focus{color:#fff;}
.button.black,
.button.black a,
.button.black button,
.button.black input {background-image:url(/uvism/images/common/buttonBlack.gif); color:#fff;}
.button.black *:hover,
.button.black *:active,
.button.black *:focus{color:#fff;}
/* Button Text Strong */
.button.strong * {font-weight:bold !important;}

.clf:after {clear:both; display:block; content:""}
.fll {float:left}
.flr {float:right}

input.readonly_true {background-color:#d4d4d4 !important}

.r {text-align:right !important;}
.l {text-align:left !important;}
.c {text-align:center !important;}

.sp5 {clear:both; height:5px; line-height:0; font-size:0;}
.sp10 {clear:both; height:10px; line-height:0; font-size:0;}

.pd_r10 {padding-right:10px !important;}
.pd_r15 {padding-right:15px !important;}
.pd_r20 {padding-right:20px !important;}
.pd_r25 {padding-right:25px !important;}
.pd_r30 {padding-right:30px !important;}

.pd_t5 {padding-top:10px !important;}
.pd_t10 {padding-top:10px !important;}
.pd_t15 {padding-top:15px !important;}
.pd_t20 {padding-top:20px !important;}
.pd_t25 {padding-top:25px !important;}
.pd_t30 {padding-top:30px !important;}

.pd_l10 {padding-left:10px !important;}
.pd_l15 {padding-left:15px !important;}
.pd_l20 {padding-left:20px !important;}
.pd_l25 {padding-left:25px !important;}
.pd_l30 {padding-left:30px !important;}

.pd_b5 {padding-bottom:10px !important;}
.pd_b10 {padding-bottom:10px !important;}
.pd_b15 {padding-bottom:15px !important;}
.pd_b20 {padding-bottom:20px !important;}
.pd_b25 {padding-bottom:25px !important;}
.pd_b30 {padding-bottom:30px !important;}

.txt_overflow {white-space:nowrap; overflow:hidden; text-overflow:ellipsis; -o-text-overflow: ellipsis}

.red {color:#FF0000 !important;}


/* CSS Button set : Blue color */
.cssButtonBlue {
    background-color:#1ab0fb;
    
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    
    border:1px solid #0777af;
    
    display:inline-block;
    color:#ffffff;
    font-family:"돋움",Dotum,"굴림",Gulim,Arial,AppleGothic,sans-serif;
    font-size:11px;
    font-weight:bold;
    padding:2px 8px;
    text-decoration:none;
}
.cssButtonBlue:hover {
    background-color:#0688fa;
    color:#FFFFFF;
    text-decoration:none;
}
.cssButtonBlue:active {
    position:relative;
    top:1px;
}
.cssButtonBlueSelected {
     background-color:#0688fa;
    
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    
    border:1px solid #0777af;
    
    display:inline-block;
    color:#ffffff;
    font-family:"돋움",Dotum,"굴림",Gulim,Arial,AppleGothic,sans-serif;
    font-size:11px;
    font-weight:bold;
    padding:2px 8px;
    text-decoration:none;
}

/* CSS Button set : Black color */
.cssButtonBlack {
    background-color:#353535;
    
    /*
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    */
    
    border:1px solid #292929;
    
    display:inline-block;
    color:#ffffff;
    font-family:"돋움",Dotum,"굴림",Gulim,Arial,AppleGothic,sans-serif;
    font-size:11px;
    font-weight:bold;
    padding:2px 8px;
    text-decoration:none;
}
.cssButtonBlack:hover {
    background-color:#575757;
    color:#FFFFFF;
    text-decoration:none;
}
.cssButtonBlack:active {
    position:relative;
    top:1px;
}

/* CSS Button set : Grey color */
.cssButtonGrey {
    background-color:#A1A1A1;
    
    /*
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    */
    
    border:1px solid #A1A1A1;
    
    display:inline-block;
    color:#ffffff;
    font-family:"돋움",Dotum,"굴림",Gulim,Arial,AppleGothic,sans-serif;
    font-size:11px;
    font-weight:bold;
    padding:2px 8px;
    text-decoration:none;
}
.cssButtonGrey:hover {
    background-color:#888888;
    color:#FFFFFF;
    text-decoration:none;
}
.cssButtonGrey:active {
    position:relative;
    top:1px;
}

