<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../../assets/css/lib/bootstrap-datepicker.standalone.css" />
  <link rel="stylesheet" href="../../assets/css/lib-style.css" />
  <link rel="stylesheet" href="../../assets/css/pc-style.css" />
  <link rel="stylesheet" href="../../assets/css/iframe-layout.css" />
  <script src="../../assets/js/jquery-3.6.0.min.js"></script>
  <script src="../../assets/js/jquery-ui.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <script>
    if (typeof cldMsg_prevMonth === 'undefined') {
      window.cldMsg_prevMonth = '이전달';
      window.cldMsg_nextMonth = '다음달';
      window.cldMsg_prevYear = '이전년';
      window.cldMsg_nextYear = '다음년';
      window.cldMsg_prev = '이전';
      window.cldMsg_next = '다음';
    }
  </script>
  <script src="../../assets/js/bootstrap-datepicker.js"></script>
  <script src="../../assets/js/popper.min.js"></script>
  <script src="../../assets/js/s1-uvis-script.js"></script>
  <script src="../../assets/js/jquery.cookie.js"></script>
  <script src="../../assets/js/jquery.mask.min.js"></script>
  <script src="../../assets/js/jquery.uvis.common.js"></script>
  <script>
    jQuery.browser = {};
    (function() {
      jQuery.browser.msie = false;
      jQuery.browser.version = 0;
      if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
        jQuery.browser.msie = true;
        jQuery.browser.version = RegExp.$1;
      }
    })();
  </script>
  <script src="../../assets/js/publish.js"></script>
  <script src="../../assets/js/amobe_rangeTimePicker.js"></script>
  <title>Guide | Range Time Picker</title>
  <style>
    .range-timepicker-box { width: 190px; }
  </style>
</head>

<body style="overflow:hidden; margin:0;">
  <div class="general-container">
    <div class="general-area">
      <div class="general-top">
        <div class="general-label">Component</div>
        <div class="general-title">Range Time Picker</div>
      </div>
      <div class="general-middle">

        <div class="component-block">
          <div class="component-block-header">
            <div>
              <div class="component-block-title">Medium</div>
            </div>
          </div>
          <div class="component-preview">
            <div class="range-timepicker-box range range-timepicker-medium">
              <div class="range-timepicker-input">
                <button type="button" class="time-input">
                  <span class="label">시간</span>
                  <span class="data">00:00~23:55</span>
                </button>
              </div>
              <div class="range-timepicker range-timepicker-dropdown">
                <div class="range-timepicker-picker-container">
                  <div class="range-timepicker-picker-area tab-container">
                    <div class="range-timepicker-picker">
                      <div class="range-timepicker-top">
                        <ul class="tabs">
                          <li class="tab">
                            <a class="on" href="#">시작</a>
                          </li>
                          <li class="tab">
                            <a href="#">종료</a>
                          </li>
                        </ul>
                      </div>
                      <div class="range-timepicker-middle">
                        <div class="tab-content-box">
                          <div class="tab-pannel active">
                            <div class="time-box">
                              <div class="time">
                                <button type="button" class="list hour">00</button>
                                <button type="button" class="list hour">01</button>
                                <button type="button" class="list hour">02</button>
                                <button type="button" class="list hour">03</button>
                                <button type="button" class="list hour">04</button>
                                <button type="button" class="list hour">05</button>
                                <button type="button" class="list hour">06</button>
                                <button type="button" class="list hour">07</button>
                                <button type="button" class="list hour">08</button>
                                <button type="button" class="list hour">09</button>
                                <button type="button" class="list hour">10</button>
                                <button type="button" class="list hour">11</button>
                                <button type="button" class="list hour">12</button>
                                <button type="button" class="list hour">13</button>
                                <button type="button" class="list hour">14</button>
                                <button type="button" class="list hour">15</button>
                                <button type="button" class="list hour">16</button>
                                <button type="button" class="list hour">17</button>
                                <button type="button" class="list hour">18</button>
                                <button type="button" class="list hour">19</button>
                                <button type="button" class="list hour">20</button>
                                <button type="button" class="list hour">21</button>
                                <button type="button" class="list hour">22</button>
                                <button type="button" class="list hour">23</button>
                              </div>
                              <div class="time">
                                <button type="button" class="minute list">00</button>
                                <button type="button" class="minute list">05</button>
                                <button type="button" class="minute list">10</button>
                                <button type="button" class="minute list">15</button>
                                <button type="button" class="minute list">20</button>
                                <button type="button" class="minute list">25</button>
                                <button type="button" class="minute list">30</button>
                                <button type="button" class="minute list">35</button>
                                <button type="button" class="minute list">40</button>
                                <button type="button" class="minute list">45</button>
                                <button type="button" class="minute list">50</button>
                                <button type="button" class="minute list">55</button>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pannel">
                            <div class="time-box">
                              <div class="time">
                                <button type="button" class="list hour">00</button>
                                <button type="button" class="list hour">01</button>
                                <button type="button" class="list hour">02</button>
                                <button type="button" class="list hour">03</button>
                                <button type="button" class="list hour">04</button>
                                <button type="button" class="list hour">05</button>
                                <button type="button" class="list hour">06</button>
                                <button type="button" class="list hour">07</button>
                                <button type="button" class="list hour">08</button>
                                <button type="button" class="list hour">09</button>
                                <button type="button" class="list hour">10</button>
                                <button type="button" class="list hour">11</button>
                                <button type="button" class="list hour">12</button>
                                <button type="button" class="list hour">13</button>
                                <button type="button" class="list hour">14</button>
                                <button type="button" class="list hour">15</button>
                                <button type="button" class="list hour">16</button>
                                <button type="button" class="list hour">17</button>
                                <button type="button" class="list hour">18</button>
                                <button type="button" class="list hour">19</button>
                                <button type="button" class="list hour">20</button>
                                <button type="button" class="list hour">21</button>
                                <button type="button" class="list hour">22</button>
                                <button type="button" class="list hour">23</button>
                              </div>
                              <div class="time">
                                <button type="button" class="minute list">00</button>
                                <button type="button" class="minute list">05</button>
                                <button type="button" class="minute list">10</button>
                                <button type="button" class="minute list">15</button>
                                <button type="button" class="minute list">20</button>
                                <button type="button" class="minute list">25</button>
                                <button type="button" class="minute list">30</button>
                                <button type="button" class="minute list">35</button>
                                <button type="button" class="minute list">40</button>
                                <button type="button" class="minute list">45</button>
                                <button type="button" class="minute list">50</button>
                                <button type="button" class="minute list">55</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="range-timepicker-bottom">
                        <button type="button" class="btn-confirm" disabled>적용</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script>document.addEventListener("wheel",function(e){window.parent.postMessage({type:"iframeWheel",deltaY:e.deltaY,deltaX:e.deltaX},"*");},{passive:true});function _sh(){var h=Math.max(document.body.scrollHeight,document.body.offsetHeight,document.documentElement.scrollHeight,document.documentElement.offsetHeight);window.parent.postMessage({type:"iframeHeight",height:h},"*");}window.addEventListener("load",_sh);if(window.ResizeObserver){new ResizeObserver(_sh).observe(document.body);}</script>
</body>

</html>
